لیست کتابخانه های موردنیاز و کاربرد آنها:
logging:	حذف پیام‌های اضافی در خروجی
transformers:	استخراج متن از تصویر با مدل TrOCR
PIL (Pillow)	:خواندن و پردازش تصویر
sentence-transformers:	مقایسه معنایی پاسخ دانش‌آموز و پاسخ صحیح
